[submodule "magnet/ThirdParty/libgit2"]
	path = magnet/ThirdParty/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "magnet/ThirdParty/yaml-cpp"]
	path = magnet/ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
